html {
  height: 100%;
}

body {
  font-family: 'Satoshi', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  margin: 25px 0 0 25px;
}

.top-container {
  display: flex;
  align-items: center;
}

.gr-button .btn {
  width: 150px;
  height: 45px;
}

.gr-button-small .btn {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 50px;
  height: 45px; 
}

.gr-button {
  position: relative;
  margin-left: 10px;
  margin-bottom: 45px;
}

.gr-button > .btn {
  transform: translateX(0%) translateY(0%);
  transition: 0.3s ease-in-out;
  position: absolute;
}

.gr-button:hover > #btn1 {
  transform: translateX(-5%) translateY(-24%);
}

.gr-button:hover > #btn2 {
  transform: translateX(-2%) translateY(-12%);
}

.btn {
  color: white;
  font-size: 1.5rem;
  border: solid 2px black;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;  
}

#btn1 {
  font-size: medium;
  background: black;
  z-index: 3;
}

#btn2 {
  background: #e682b4;
  z-index: 2;
}

#btn3 {
  background: yellow;
  z-index: 1;
}

input {
  width: 180px;
  height: 40px; 
  font-size: medium;
  border: 2px solid #333;
  outline: none;
  border-radius: 4px;
  text-align: center;
  padding: 0; 
  text-decoration: none;
  -webkit-appearance: none;  
}

.post {
  margin-top: 20px; 
  width: 340px; 
  border: 2px solid #333;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

#product-image { 
  width: 340px; 
  height: 0;  
  padding-bottom: 100%;  
  border-bottom: 2px solid #333;
}

#product-name{
  padding: 5px 0 0 10px; 
}

#product-price,
#logo {
  border-top: 2px solid #333; 
  padding: 10px 10px 10px 10px;
}




